<template name="contact">
    {{> impressumModalStatistics}}
    {{#if isFirstTimeVisit}}
        <div class="hidden-xs hidden-sm">
            {{> welcomeTitle}}
        </div>
        <div class="visible-xs visible-sm container">
            {{> welcomeTitle}}
        </div>
    {{/if}}
    <div class="{{#if isFirstTimeVisit}}container{{/if}}">
        <div id="contact" class="col-md-8 col-md-offset-2">
            {{#if isActiveRoute 'about'}}
                {{> impressumAbout}}
            {{/if}}
            {{#if isActiveRoute 'learning'}}
                {{> impressumLearning}}
            {{/if}}
            {{#if isActiveRoute 'faq'}}
                {{> impressumFAQ}}
            {{/if}}
            {{#if isActiveRoute 'help'}}
                {{> help}}
            {{/if}}
            {{#if isActiveRoute 'impressum'}}
                {{> impressumSupport}}
            {{/if}}
            {{#if isActiveRoute 'agb'}}
                {{> impressumAGB}}
            {{/if}}
            {{#if isActiveRoute 'datenschutz'}}
                {{> impressumDatenschutz}}
            {{/if}}
        </div>
    </div>
</template>
