<template name="mainNavigationTopItemProfileItemRequests">
    {{#if isInRole 'lecturer'}}
        <tr class="{{#if isActiveRoute
                         'profileRequests'}}active{{/if}}">
            <td><a class="dropdown-item"
                   href="/profile/{{currentUser._id}}/requests"><i
                    class="fa fa-check"></i></a></td>
            <td><a class="dropdown-item"
                   href="/profile/{{currentUser._id}}/requests">{{_
                    "profile.requests"}}</a></td>
        </tr>
    {{/if}}
</template>
