<template name="filterItemCreateTranscriptButton">
    {{#if canCreateContent}}
        {{#unless isSmartphone}}
            {{#unless isSelectingCardsetToLearn}}
                <span class="btn-group hidden-xs">
                <button id="newTranscript" type="button"
                        class="btn btn-raised btn-success saveSet" {{disableIfOffline}} {{disableIfShuffle}}>
                    <span class="flex-content"><i class="fa fa-cog fa-spin"></i>&nbsp;{{{getNavigationIcon "transcript"}}}{{_ "transcriptForm.index.create"}}</span>
                </button>
                </span>
            {{/unless}}
        {{/unless}}
    {{/if}}
</template>
